.slides-container{
    overflow: hidden;
}

.s-view{
    z-index: 1000;
}

.s-effect-default {
    display: none;
}

.s-effect-fade-out{
    opacity: 0;
}

.s-effect-slide-out-top{
    
    animation: 1s slide-out-top;
    opacity: 0;
}

@keyframes slide-out-top {
    50%{
        height: 0;
    }

    100%{
        height: 100%;
    }
}

.s-effect-slide-out-bottom{
    bottom: 0;
    animation: 1s slide-out-bottom;
    opacity: 0;
}

@keyframes slide-out-bottom {
    50%{
        height: 0;
    }

    100%{
        height: 100%;
    }
}

.s-effect-slide-out-left{
    left: 0;
    animation: 1s slide-out-left;
    opacity: 0;
}

@keyframes slide-out-left {
    50%{
        width: 0;
    }

    100%{
        width: 100%;
    }
}

.s-effect-slide-out-right{
    right: 0;
    animation: 1s slide-out-right;
    opacity: 0;
}

@keyframes slide-out-right {
    50%{
        width: 0;
    }

    100%{
        width: 100%;
    }
}